h1{
    font-size: 30px;
    text-align: center;
    color: #FFFFFF 
    }
    
    p{
    font-size: 20px;
    text-align: left;
    font-family: Helvetica, sans-serif;
    }
    
    body {
    background-image: url(./sunset-2983614_1280.jpg);
    height:70vh;
    background-size: cover;
    background-position:center;
    color: #FFFFFF ;
    }
